@font-face {
    font-family: 'x360';
    src: url('X360.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
img{
    width: 20%;
}
h1{
    font-family: 'x360';
    font-weight: 400;
    font-size: 200px;
    color: green;
}
span{
    color: gray;
}